/* Table Header Styles */
.ant-table-thead .ant-table-cell {
  background-color: #e6e6e6 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.ant-table-thead .ant-table-cell::before {
  content: none !important;
}

/* Pagination Container Styles */
.ant-pagination {
  border: 1px solid #cccccc !important;
  width: fit-content !important;
  float: right !important;
  border-radius: 8px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 2px 0;
}

.ant-pagination-item {
  min-width: 32px !important;
  height: 32px !important;
  background-color: white !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}

.ant-pagination-item-active {
  background-color: #009595 !important;
  color: white !important;
  border-color: #009595 !important;
  border-radius: 8px !important;
}

.ant-pagination-item-active a {
  color: white !important;
}

.ant-pagination-prev,
.ant-pagination-next {
  border: 0px solid #e5e7eb !important;
  border-radius: 0.5rem !important;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background-color: transparent !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ant-pagination-prev,
.ant-pagination-next {
  border: none !important;
  display: flex !important;
  align-items: center;
}
